<ion-header>

  <ion-toolbar>

    <!-- <ion-buttons start class="left-ion-buttons">
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons> -->
    
    <ion-title class="center-ion-title">hymn</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showIndex()">
        <ion-icon name="book"></ion-icon>
      </button>
      <button ion-button clear icon-only (click)="toggleSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button icon-only navPop>
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

  <div class="search-bar" [hidden]="isNoneVisibleSearch">
    <div (click)="showSearchType($event)">
      <label>검색조건: {{searchType.name}}</label>
      <!-- <select #searchType>
        <option value="0">제목</option>
        <option value="1">가사</option>
        <option value="2">장</option>
      </select> -->
    </div>
    <div>
      <input #searchKeyword type="text" value="" placeholder="제목 또는 가사">
    </div>
    <div>
      <button (click)="execSearch(searchType.code, searchKeyword.value)">
        <ion-icon name="search" color="light"></ion-icon>
      </button>
    </div>
  </div>

  <ion-grid class="hymn-top-container">
    <ion-row>
      <ion-col *ngFor="let menu of topMenuData; index as idx" [ngClass]="{'top-menu-highlight':menu.selected}">
        <div class="hymn-top-list-button" (click)="showList(menu.menuIdx)">{{menu.title}}</div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item class="hymn-item" *ngFor="let item of hymnData" (click)="showDetail(item.p_num)">
      <div>{{item.p_num}}</div>
      <div>{{item.subject}}</div>
      <div>통일찬송가 {{item.p_num_old}}장</div>
    </ion-item>
    
  </ion-list>
</ion-content>

<ion-footer>
  <div text-center class="ad-demo-1">광고영역</div>
</ion-footer>
