<ion-header>

  <!-- <ion-navbar>

    <ion-buttons start class="left-ion-buttons">
        <button ion-button icon-only (click)="showIndex()">
          <ion-icon name="book"></ion-icon>
        </button>
    </ion-buttons>

    <ion-title class="center-ion-title">찬송</ion-title>
    <ion-buttons end>
      <button ion-button clear icon-only (click)="toggleSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button icon-only navPop>
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar> -->

  <!-- <ion-toolbar>
    <div class="tool-bar-title">
      <img class="tool-bar-prev-btn" navPop src="assets/imgs/btn_prev.png">
      <span class="menu-item-inner-title">찬송</span>
      
    </div>
  </ion-toolbar> -->
  <div class="gb-header">
    <div class="gb-header-pop" navPop style="margin-right: 40px;">
      <img src="assets/imgs/btn_prev.png">
    </div>
    <div class="gb-header-title">찬송</div>
    <div class="gb-header-ctrl">
      <div (click)="showIndex()" style="width: 25px;">
        <!-- <img src="assets/imgs/ico_search_w.png"> -->
        <ion-icon name="book" color="light" style="font-size: 25px;"></ion-icon>
      </div>
      <div (click)="toggleSearch()" style="width: 25px; margin-left: 10px;">
        <img src="assets/imgs/ico_search_w.png">
      </div>
    </div>
  </div>

  <div class="search-bar" [hidden]="isNoneVisibleSearch">
    <div (click)="showSearchType($event)" class="search-kind">
      <label>검색조건: {{searchType.name}}</label>
    </div>
    <div class="search-input-box">
      <input #searchKeyword type="text" value="" placeholder="제목 또는 가사">
      <span (click)="execSearch(searchType.code, searchKeyword.value)" class="search-btn-area">
        <ion-icon name="search" color="primary"></ion-icon>
      </span>
    </div>
    <!-- <div>
      <button (click)="execSearch(searchType.code, searchKeyword.value)">
        <ion-icon name="search" color="light"></ion-icon>
      </button>
    </div> -->
  </div>

  <ion-grid class="hymn-top-container">
    <ion-row>
      <ion-col class="hymn-header-menu" *ngFor="let menu of topMenuData; index as idx" [ngClass]="{'top-menu-highlight':menu.selected}">
        <div class="hymn-top-list-button" (click)="showList(menu.menuIdx)">{{menu.title}}</div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item class="hymn-item" *ngFor="let item of hymnData" (click)="showDetail(item.p_num)">
      <div class="hymn-item-row">
        <div class="hymn-item-row-item1">
          <div>
            <div class="item-point"></div>
          </div>
          <div>
            <div class="item-child1">{{item.p_num}}</div>
            <div class="item-child2"><span [innerHtml]="item.subject"></span></div>
            <div class="item-child3">통일찬송가 {{item.p_num_old}}장</div>
          </div>
        </div>
        <div>
          <img src="assets/imgs/img_arrow_r.png" width="9">
        </div>
      </div>
    </ion-item>
    
  </ion-list>
</ion-content>

<ion-footer>
  <div text-center class="ad-demo-1">
    <iframe src="http://bible25ad.bible25.com/bible25ad/ad/mobile_sub_detail_bible_ad/" style="width: 100%; border: none;" frameBorder="0" scrolling="no"></iframe>
  </div>
</ion-footer>
