<ion-header>

  <!-- <ion-navbar>
    <ion-title class="center-ion-title">성경</ion-title>
    
    <ion-buttons end>
      <button ion-button icon-only navPop>
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar> -->

  <!-- <ion-toolbar>
    <div class="tool-bar-title">
      <img cNavpop class="tool-bar-prev-btn" src="assets/imgs/btn_prev.png">
      <span class="menu-item-inner-title">{{currTitle}}</span>
      <div (click)="configPage()" class="gab-left"><img src="assets/imgs/ico_setup.png" width="24"></div>  
    </div>
  </ion-toolbar> -->

  <!-- <div class="gb-header">
    <div class="gb-header-pop" cNavpop style="margin-right: 40px;">
      <img src="assets/imgs/btn_prev.png">
    </div>
    <div class="gb-header-title">{{currTitle}}</div>
    <div class="gb-header-ctrl">
      <div (click)="configPage()" style="width: 24px;">
        <img src="assets/imgs/ico_setup.png" width="24">
      </div>
    </div>
  </div> -->
  <!-- http://bible25ad.bible25.com/bible25ad/ad/mobile_sub_detail_bible_ad/ -->

  <div text-center class="ad-demo-1">
    <iframe id="iframe_add1" src="http://ch2ho.bible25.com/m/bible_new_ad.php?ad_kind=004" style="width: 100%; border: none;" frameBorder="0" scrolling="no"></iframe>
  </div>

  <ion-grid [hidden]="!isBibleMode">
    <ion-row>
      <ion-col col-1 text-center>
          <div class="header-ico" cNavpop>
              <img src="assets/imgs/btn_prev2.png" height="20">
          </div>
      </ion-col>  
      <ion-col col-5 text-center>
        <button ion-button clear small [navPush]="'BibleListPage'"><span class="header-title" style="font-size: 0.9em;">{{bookName}}({{bibleJang}}장)</span></button>
      </ion-col>
      <ion-col col-3 text-center>
        <button ion-button clear small [navPush]="'BibleLangPage'"><span class="header-title" style="font-size: 0.9em;">{{selectedLanguage}}</span></button>
      </ion-col>
      <ion-col col-1 text-center>
        <!-- <button ion-button clear icon-only small [color]="playerNonVisible ? 'primary' : 'danger'" (click)="togglePlayer()">
          <ion-icon name="volume-up"></ion-icon>
        </button> -->
        <div class="header-ico" (click)="togglePlayer()">
          <img [src]="playerNonVisible ? 'assets/imgs/btn_sound.png' : 'assets/imgs/btn_sound_on.png'" width="22.5">
        </div>
      </ion-col>
      <ion-col col-1 text-center>
        <div class="header-ico" (click)="configPage()">
            <img src="assets/imgs/ico_setup2.png" width="22">
        </div>
      </ion-col>
      <ion-col col-1 text-center>
          <!-- <button ion-button clear icon-only small (click)="saveBookMark()">
            <ion-icon name="bookmark" [color]="isBookMarkExists ? 'danger' : 'primary'"></ion-icon>
          </button> -->
          <div class="header-ico" (click)="favoritePage()">
            <img [src]="isBookMarked ? 'assets/imgs/btn_favorite_on.png' : 'assets/imgs/btn_favorite.png'" width="22.5">
          </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <player-ui [playerNonVisible]="playerNonVisible"
    [speedBtnNonVisible]="speedBtnNonVisible"
    [playKind]="0"
    [book]="bibleBook"
    [jang]="bibleJang"
    (onPlayComplete)="onPlayComplete($event)"
    (onForward)="onForward($event)"
    (onBackward)="onBackward($event)"
  ></player-ui>

</ion-header>



<ion-content [class.disable-scrolling]='isScaling' (ionScrollEnd)="scrollHandler($event)">
  
  <div pinch
    (pinchstart)="onPinchStart($event)"
    (pinchend)="onPinchEnd($event)"
    (pinchmove)="onPinchMove($event)">

    <ion-list [hidden]="isBibleMode">
      <ion-item text-wrap *ngFor="let item of bibleSupportContents">
        <div class="bible-support-title" *ngIf="item.title != ''">{{item.title}}&nbsp;<span *ngIf="item.bible != ''">({{item.bible}})</span></div>
        <div *ngIf="item.context != ''" [innerHtml]="item.context" [style.fontSize]="fontSize" [style.backgroundColor]="backgroundColor" [style.color]="fontColor"></div>
        <div *ngIf="item.img_name != ''">
          <img [src]="item.img_name">
          <div *ngIf="item.title != ''">{{item.title}} <span>({{item.jang}} : item.jul)</span></div>
          <div *ngIf="item.content != ''">{{item.content}}</div>
        </div>
      </ion-item>
    </ion-list>
  

    <ion-list [hidden]="!isBibleMode" class="bible-content-list">
      <ion-item *ngFor="let item of bibleContents" text-wrap [style.backgroundColor]="backgroundColor">
        <span [style.fontSize]="fontSize" class="bible-jul">{{item.jul}}.</span><span [style.fontSize]="fontSize" class="bible-content" (click)="itemSelect(item)" [style.color]="item.selected ? 'red' : fontColor">{{item.content}}
            <ion-icon *ngIf="item.isBookMarked" name="bookmark" color="danger"></ion-icon>
        </span>
      </ion-item>
    </ion-list>

  </div>

  <!-- <ion-fab bottom right [style.opacity]="0.6" [style.display]="isShow ? '' : 'none'">
    <button ion-fab mini>
      <ion-icon name="move"></ion-icon>
    </button>
    <ion-fab-list side="top">
        <button ion-fab (click)="backwardClick()">
          <ion-icon name="arrow-round-back"></ion-icon>
        </button>
        <button ion-fab (click)="forwardClick()">
          <ion-icon name="arrow-round-forward"></ion-icon>
        </button>
    </ion-fab-list>
  </ion-fab> -->

  <div class="bible-move-box" [style.display]="isShow ? '' : 'none'">
    <div class="bible-move-btn" (click)="backwardClick()">
      <img src="assets/imgs/prev.png" width="42">
    </div>
    <div class="bible-move-btn" (click)="forwardClick()">
      <img src="assets/imgs/next.png" width="42">
    </div>
  </div>

  <div class="bible-tool-box" [ngStyle]="{'display':isBookMarkExists ? '' : 'none'}">
    <div class="bible-tool-left">
      <div class="bible-tool-btn" (click)="share()">
          <!-- <ion-icon name="share" style="color:#000; font-size: 40px;"></ion-icon> -->
          <img src="assets/imgs/02_sharing.png" width="24" height="34">
      </div>
      <div class="bible-tool-btn" (click)="clipboardCopy()">
          <!-- <ion-icon name="clipboard" style="color:#000; font-size: 40px;"></ion-icon> -->
          <img src="assets/imgs/02_copy.png" width="24" height="34">
      </div>
      <div class="bible-tool-btn" (click)="saveBookMark()">
          <!-- <ion-icon name="bookmark" style="color:#000; font-size: 40px;"></ion-icon> -->
          <img src="assets/imgs/02_bookmark.png" width="32" height="34">
      </div>
      <!-- <div class="bible-tool-btn" [navPush]="'MyPage'">즐겨찾기</div> -->
    </div>
    <div class="bible-tool-right" (click)="itemAllDeSelect()">
        <!-- <ion-icon name="close-circle" style="color:#33afe9; font-size: 32px;"></ion-icon> -->
        <img src="assets/imgs/02_close.png" width="27" height="34">
    </div>
  </div>

</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let menu of menuData; let i = index" [ngClass]="{'foot-menu-highlight':menu.selected}" (click)="onSubPage(i)">
        <div class="footer-button" [ngClass]="{'foot-text-highlight':menu.selected}">{{menu.name}}</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
