<ion-header>

  <ion-toolbar>
    <ion-buttons start class="left-ion-buttons">
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title class="center-ion-title">bible</ion-title>
    
    <ion-buttons end>
      <button ion-button icon-only navPop>
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>


  <ion-grid [hidden]="!isBibleMode">
    <ion-row>
      <ion-col col-4 text-center>
        <button ion-button clear small [navPush]="'BibleListPage'">{{bookName}}({{bibleJang}}장)</button>
      </ion-col>
      <ion-col col-4 text-center>
        <button ion-button clear small [navPush]="'BibleLangPage'">{{selectedLanguage}}</button>
      </ion-col>
      <ion-col col-2 text-center>
        <button ion-button clear icon-only small [color]="playerNonVisible ? 'primary' : 'danger'" (click)="togglePlayer()">
          <ion-icon name="volume-up"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-2 text-center>
          <button ion-button clear icon-only small (click)="saveBookMark()">
            <ion-icon name="bookmark" [color]="isBookMarkExists ? 'danger' : 'primary'"></ion-icon>
          </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <player-ui [playerNonVisible]="playerNonVisible"
    [playKind]="0"
    [book]="bibleBook"
    [jang]="bibleJang"
    (onPlayComplete)="onPlayComplete($event)"
    (onForward)="onForward($event)"
    (onBackward)="onBackward($event)"
  ></player-ui>

  <!-- <ion-grid [hidden]="playerNonVisible">
    <ion-row>
      <ion-col>
        <div class="media-progress-outer">
          <div class="media-progress-inner" [style.width]="currentTrack"></div>
        </div>
        <div class="media-time">
          <div>{{mediaTraker}}</div>  
          <div>{{mediaRange}}</div>  
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-3>
        <button ion-button clear icon-only (click)="move('prev',true)">
          <ion-icon name="skip-backward"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-3>
        <button ion-button clear icon-only (click)="playOrPause()">
          <ion-icon name="{{playState}}"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-3>
        <button ion-button clear icon-only (click)="move('next',true)">
          <ion-icon name="skip-forward"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-3>
        <button ion-button clear icon-only [color]="isMediaRoop ? 'danger':'primary'" (click)="roopToggle()">
          <ion-icon name="repeat"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid> -->

</ion-header>



<ion-content>

  <!-- <iframe [hidden]="isBibleMode" id="iframe2" (load)="iframeLoaded()" src="http://ch2ho.bible25.com/m/bbs/board2.php?bo_table=bible&t=tab1&key=NKRV&key2=&key3=&book=1&jang=1&tab_title=Study" width="100%" height="100%" seamless></iframe> -->
  <ion-list [hidden]="isBibleMode">
    <ion-item text-wrap *ngFor="let item of bibleSupportContents">
      <div class="bible-support-title" *ngIf="item.title != ''">{{item.title}}&nbsp;<span *ngIf="item.bible != ''">({{item.bible}})</span></div>
      <div *ngIf="item.context != ''" [innerHtml]="item.context"></div>
      <div *ngIf="item.img_name != ''">
        <img [src]="item.img_name">
        <div *ngIf="item.title != ''">{{item.title}} <span>({{item.jang}} : item.jul)</span></div>
        <div *ngIf="item.content != ''">{{item.content}}</div>
      </div>
    </ion-item>
  </ion-list>

  <ion-list [hidden]="!isBibleMode" class="bible-content-list">
    <ion-item *ngFor="let item of bibleContents" text-wrap>
      <span class="bible-jul">{{item.jul}}</span><span class="bible-content" (click)="itemSelect(item)" [style.color]="item.selected ? 'red' : 'black'">{{item.content}}
          <ion-icon *ngIf="item.isBookMarked" name="bookmark" color="danger"></ion-icon>
      </span>
      
    </ion-item>
  </ion-list>

  <button ion-button small outline class="bible-prev-button" [hidden]="!isBibleMode" (click)="move('prev', false)">
    <ion-icon name="arrow-back"></ion-icon>
  </button>

  <button ion-button small outline class="bible-next-button" [hidden]="!isBibleMode" (click)="move('next', false)">
    <ion-icon name="arrow-forward"></ion-icon>
  </button>

</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let menu of menuData; let i = index" [ngClass]="{'foot-menu-highlight':menu.selected}" (click)="onSubPage(i)">
        <div class="footer-button">{{menu.name}}</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
