<!-- <ion-grid [hidden]="playerNonVisible">
  <ion-row>
    <ion-col>
      <div class="media-progress-outer">
        <div class="media-progress-inner" [style.width]="currentTrack"></div>
      </div>
      <div class="media-time">
        <div>{{mediaTraker}}</div>  
        <div>{{mediaRange}}</div>  
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-3>
      <button ion-button clear icon-only (click)="backward()">
        <ion-icon name="skip-backward"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-3>
      <button ion-button clear icon-only (click)="command()">
        <ion-icon [name]="getPlayStateName()"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-3>
      <button ion-button clear icon-only (click)="forward()">
        <ion-icon name="skip-forward"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-3>
      <button ion-button clear icon-only [color]="isMediaRoop ? 'danger':'primary'" (click)="repeatToggle()">
        <ion-icon name="repeat"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
</ion-grid> -->

<div class="player-box" [hidden]="playerNonVisible">
  <div>
      <div class="media-progress-outer">
        <div class="media-progress-inner" [style.width]="currentTrack"></div>
      </div>
      <div class="media-time">
        <div style="color: #33afe9;">{{mediaTraker}}</div>&nbsp;/&nbsp;<div style="color: #666;">{{mediaRange}}</div>  
      </div>
  </div>
  <div class="player-buttons">
    <div class="buttons-group">
      <div (click)="backward()">
        <img src="assets/imgs/ico_player_prev.png" width="25">
      </div>  
      <div (click)="command()" style="margin-left: 15px;">
        <img [src]="getPlayStateName()" width="25">
      </div>  
      <div (click)="forward()" style="margin-left: 15px;">
        <img src="assets/imgs/ico_player_next.png" width="25">
      </div>
      <div class="speed-btns" [hidden]="speedBtnNonVisible">
        <div (click)="changeSpeed('1')" style="margin-left: 30px;">
          <img [src]="currPlaySpeed === '1' ? 'assets/imgs/1_on.png' : 'assets/imgs/1_off.png'" width="35">
        </div>
        <div (click)="changeSpeed('1_2')" style="margin-left: 10px;">
          <img [src]="currPlaySpeed === '1_2' ? 'assets/imgs/1.2_on.png' : 'assets/imgs/1.2_off.png'" width="35">
        </div>
        <div (click)="changeSpeed('1_5')" style="margin-left: 10px;">
          <img [src]="currPlaySpeed === '1_5' ? 'assets/imgs/1.5_on.png' : 'assets/imgs/1.5_off.png'" width="35">
        </div>
      </div>  
    </div>
    
    <div (click)="repeatToggle()">
        <img [src]="isMediaRoop ? 'assets/imgs/ico_player_re_on.png' : 'assets/imgs/ico_player_re.png'" width="22">
    </div>
  </div>
</div>
