<!-- Generated template for the AdPopupComponent component -->
<div class="container">
  <div class="ad-body">
    <div class="ad-img">
      <iframe src="http://bible25ad.bible25.com/bible25ad/ad/mobile_exit_ad/" style="width: 100%; border: none;" frameBorder="0" scrolling="no"></iframe>
    </div>
    <div class="ad-buttons">
      <div (click)="dismiss()" class="ad-button" style="background-color: #666">취소</div>
      <div (click)="appClose()" class="ad-button">종료</div>
    </div>
  </div>
</div>
