page-home {
    .left-ion-buttons {
        order: 1;
    }
    .center-ion-title {
        text-align: center;
    }
    .back-inActive {
        display: none;
    }
    .search-input {
        border: 1px solid #c2c2c2;
        border-radius: 5px;
    }
    @keyframes searchBtnFade {
        0% {
            opacity: 0;
            width: 0;
        }
        100% {
            opacity: 1;
            width: 1;
        }
    }
    .searchBtnContainer {
        animation-name: searchBtnFade;
        animation-duration: 0.3s;
        animation-timing-function: linear;
    }
}
