<ion-header>
  <ion-navbar>

    <ion-buttons start class="left-ion-buttons">
      <button ion-button icon-only (click)="toggleMenu()">
        <ion-icon name="menu"></ion-icon>
      </button>
      <button ion-button clear icon-only (click)="onBack()" [class.back-inActive]="topBackIconIsNotActive">
        <ion-icon name="arrow-round-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title class="center-ion-title">Bible25</ion-title>
    
    <ion-buttons end>
        <button ion-button clear icon-only (click)="toggleSearchBar()">
          <ion-icon name="search"></ion-icon>
        </button>
        <button ion-button clear icon-only (click)="myPage()">
          <ion-icon name="contact"></ion-icon>
        </button>
        <button ion-button clear icon-only (click)="configPage()">
          <ion-icon name="settings"></ion-icon>
        </button>
    </ion-buttons>

  </ion-navbar>

  <!-- <ion-item *ngIf="topSearchBtnFlag" class="searchBtnContainer">
    <ion-input class="search-input" type="text" value="ABCD..."></ion-input>
    <ion-buttons item-right>
        <button ion-button clear icon-only (click)="goSearchPage()">
          <ion-icon name="search"></ion-icon>
        </button>
    </ion-buttons>
  </ion-item> -->

  <ion-toolbar *ngIf="topSearchBtnFlag">
    <ion-searchbar
      [(ngModel)]="searchKeyWord"
      [debounce]="500">`
    </ion-searchbar>
    <ion-buttons end class="search-button">
        <button ion-button icon-only color="primary" (click)="goSearchPage()">
          <ion-icon name="search"></ion-icon>
        </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>
<!-- http://ch2ho.bible25.com/m/main_renewal_android.php -->
<ion-content>
  <iframe id="iframe" (load)="iframeLoaded()" [src]="url | safe" width="100%" height="100%" seamless></iframe>
</ion-content>
