page-bible-lang {
    .bible-lang-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        div {
            flex-basis: 4em;
        }
        .download-complete {
            text-align: center;
        }

    }
    .bible-lang-footer {
        width: 100%;
        text-align: center;
        padding: 1em 0;
        button {
            width: 8em;
        }
    }
}
