page-hymn-detail {
    .viewType0 {
        padding: 0 1em;
        line-height: 1.5em;
    }
    .hymn-player-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 15px 2px 15px;
    }
    .size-expand-box {
        display: flex;
        justify-content: center;
        padding:0.6em;
    }
    .hymn-detail-buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px 15px 20px 10px;
        .hymn-detail-buttons-group {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .hymn-btn {
            background-color: #33afe9;
            border: none;
            height: 35px;
            min-width: 65px;
            border-radius: 16px;
            font-size: 1.1em;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .size-btn {
        background-color: #33afe9;
        height: 26px;
        width: 65px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 9px;
        color: #fff;
    }
}
