<ion-header>

  <!-- <ion-navbar>
    <ion-title>{{bibleTitle}}</ion-title>
  </ion-navbar> -->
  <ion-toolbar>
    <div class="tool-bar-title">
      <img class="tool-bar-prev-btn" navPop src="assets/imgs/btn_prev.png">
      <span class="menu-item-inner-title">{{bibleTitle}}</span>
    </div>
  </ion-toolbar>

  <player-ui [playerNonVisible]="learnMode == 0 ? true : false"
    [playKind]="0"
    [book]="bibleBook"
    [jang]="bibleJang"
    (onPlayComplete)="onPlayComplete($event)"
    (onForward)="onForward($event)"
    (onBackward)="onBackward($event)"
  ></player-ui>
</ion-header>

<ion-content [class.disable-scrolling]='isScaling'>
  <div pinch
      (pinchstart)="onPinchStart($event)"
      (pinchend)="onPinchEnd($event)"
      (pinchmove)="onPinchMove($event)">

      <ion-grid>
        <ion-row *ngFor="let item of bibleContents">
          <ion-col col-1 style="text-align: right;"><span class="item-idx">{{item.jul}}.</span></ion-col>
          <ion-col col-11 [style.fontSize]="fontSize">{{item.content}}</ion-col>
        </ion-row>
      </ion-grid>

  </div>

    <ion-fab top right edge *ngIf="isChecked == false" [hidden]="isShow == false">
      <button ion-fab mini (click)="check()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-fab>

    <ion-fab bottom right *ngIf="isChecked == true" [style.opacity]="0.6" [hidden]="isShow == false">
      <button ion-fab mini>
        <ion-icon name="move"></ion-icon>
      </button>
      <ion-fab-list side="top">
          <button ion-fab (click)="backward()">
            <ion-icon name="arrow-round-back"></ion-icon>
          </button>
          <button ion-fab (click)="forward()">
            <ion-icon name="arrow-round-forward"></ion-icon>
          </button>
      </ion-fab-list>
      <!-- <ion-fab-list side="right">
          <button ion-fab (click)="forward()">
            <ion-icon name="arrow-round-forward"></ion-icon>
          </button>
      </ion-fab-list> -->
    </ion-fab>
    
</ion-content>
