<ion-header>

  <ion-navbar>
    <ion-title>{{bibleTitle}}</ion-title>
  </ion-navbar>
  <player-ui [playerNonVisible]="learnMode == 0 ? true : false"
    [playKind]="0"
    (onPlayComplete)="onComplete($event)"
    (onForward)="onForward($event)"
    ></player-ui>
</ion-header>


<ion-content [class.disable-scrolling]='isScaling'>
  <div pinch
      (pinchstart)="onPinchStart($event)"
      (pinchend)="onPinchEnd($event)"
      (pinchmove)="onPinchMove($event)">

      <ion-grid>
        <ion-row *ngFor="let item of bibleContents">
          <ion-col col-1>{{item.jul}}</ion-col>
          <ion-col col-11 [style.fontSize]="fontSize">{{item.content}}</ion-col>
        </ion-row>
      </ion-grid>

  </div>

    <ion-fab top right edge *ngIf="isChecked == false" [hidden]="isShow == false">
      <button ion-fab mini (click)="check()">
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-fab>

    <ion-fab top center *ngIf="isChecked == true" [hidden]="isShow == false">
      <button ion-fab mini>
        <ion-icon name="arrow-dropdown-circle"></ion-icon>
      </button>
      <ion-fab-list side="left">
          <button ion-fab (click)="backword()">
            <ion-icon name="arrow-round-back"></ion-icon>
          </button>
      </ion-fab-list>
      <ion-fab-list side="right">
          <button ion-fab (click)="forward()">
            <ion-icon name="arrow-round-forward"></ion-icon>
          </button>
      </ion-fab-list>
    </ion-fab>
    
</ion-content>
