page-gyodok {
    .gyodok-tab-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1px;
        
        .menu-item {
            flex-basis: 4em;
            flex-grow: 1;
            line-height: 2em;
            border: 1px solid gray;
            text-align: center;
        }
    }
    .highlight {
        background-color: dodgerblue;
    }
}
