page-gyodok {
    ion-content {
        background: url('../assets/imgs/bg_bibleCon.png') no-repeat center bottom;
    }
    .gyodok-tab-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1px;
        
        .menu-item {
            flex-basis: 4em;
            flex-grow: 1;
            line-height: 2em;
            border: 1px solid gray;
            text-align: center;
        }
    }
    .highlight {
        background-color: dodgerblue;
    }
    .gydok-box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 0.5em;
        margin-top: 10px;
        .gydok-item {
            margin: 0.3em;  
            border: 1px solid #aaa;
            // padding: 0.3em;
            width: 34px;
            height: 34px;
            line-height: 2em;
            text-align: center;
            border-radius: 5px;
        }
    }
    .gyodok-content-box {
        padding: 1em;
        // background: url('../assets/imgs/bg_bibleCon.png') no-repeat center bottom;
        .gyodok-content {
            span {
                display: block;
            }
            span:nth-child(odd) {
                font-weight: bold;
                color: #2995c7;
            }
            span:nth-child(even) {
                color: #333;
                margin-bottom: 0.8em;
            }
        }
        
    }
    .gyodok-content-box-tit {
        height: 25px;
        text-align: center;
        margin-bottom: 20px;
    }
    .playerBox {
        padding: 14px;
        // background: url('../assets/imgs/bg_bibleCon.png') no-repeat center bottom;
    }
    .btn {
        height: 35px;
        min-width: 70px;
        background-color: #33afe9;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 16px;
    }
    .buttom-button-1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
    }
    .buttom-button-2 {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0.3em;
        margin-right: 10px;
    }
    .player {
        padding: 1em;
        line-height: 1.5em;
        font-weight: bold;
    }
}
