<ion-header>

  <ion-navbar>
    <ion-title>gyodok</ion-title>
  </ion-navbar>

  <div class="gyodok-tab-menu">
    <div class="menu-item" [ngClass]="{highlight:menu.selected}" *ngFor="let menu of getMenu(); let i = index" (click)="toggleTabMenu(i)">
      {{menu.title}}
    </div>
  </div>

</ion-header>


<ion-content>
  <div *ngIf="currViewMode == 0">
    <div *ngIf="gyodokMode == 0">
      <div class="gydok-box">
        <div *ngFor="let i of gyodokModeNumbersO" class="gydok-item" (click)="gyodokView(i)">
          {{i}}  
        </div>  
      </div>
      <div class="buttom-button-2">
        <div><button ion-button small (click)="gyodokMode = 1">개역하글</button></div>
      </div>  
    </div>
    <div *ngIf="gyodokMode == 1">
      <div class="gydok-box">
        <div *ngFor="let i of gyodokModeNumbers1; let idx = index" class="gydok-item" (click)="gyodokView(i)">
          {{idx + 1}}  
        </div>  
      </div>
      <div class="buttom-button-2">
        <div><button ion-button small (click)="gyodokMode = 0">개역개정</button></div>
      </div>   
    </div>
    <div *ngIf="gyodokMode == 2" class="gyodok-content-box">
      <p [innerHtml]="gyodokContent"></p>
      <div class="buttom-button-1">
        <div>
          <button ion-button small (click)="gyodokPrev()">이전글</button>
          <button ion-button small (click)="gyodokNext()">다음글</button>
        </div>
        <div><button ion-button small (click)="toggleTabMenu(0)">목록보기</button></div>
      </div>
    </div>
  </div>

  <div *ngIf="currViewMode == 1">
    <div *ngIf="playerMode == 0">
      <p>
          하늘에 계신 우리 아버지,<br>
          아버지의 이름을 거룩하게 하시며<br>
          아버지의 나라가 오게 하시며,<br>
          아버지의 뜻이 하늘에서와 같이 땅에서도 이루어지게 하소서.<br><br>
          
          오늘 우리에게 일용한 양식을 주시고,<br>
          우리가 우리에게 잘못한 사람을 용서하여 준 것같이,<br>
          우리 죄를 용서하여 주시고,<br>
          우리를 시험에 빠지지 않게 하시고, 악에서 구하소서,<br>
          나라와 권능과 영광이 영원히 아버지의 것입니다.<br>
          - 아멘 -
      </p>
      <div><button>개역한글</button></div>
    </div>
    <div *ngIf="playerMode == 1">
      <p>
          하늘에 계신 우리 아버지여,<br>
          이름이 거룩히 여김을 받으시오며,<br>
          나라이 임하옵시며,<br>
          뜻이 하늘에서 이룬 것 같이<br>
          땅에서도 이루어지이다.<br><br> 
          
          오늘날 우리에게 일용한 양식을 주옵시고,<br>
          우리가 우리에게 죄 지은자를 사하여 준 것 같이<br>
          우리 죄를 사하여 주옵시고,<br>
          우리를 시험에 들게 하지 마옵시고,<br>
          다만 악에서 구하옵소서.<br><br> 
          
          대개 나라와 권세와 영광이 아버지께<br>
          영원히 있사옵 나이다.<br>
          - 아멘 - 
      </p>
      <div><button>개역개정</button></div>
    </div>
  </div>

  <div *ngIf="currViewMode == 2">
    <div *ngIf="creedMode == 0">
      <p>
          나는 전능하신 아버지 하나님, 천지의 창조주를 믿습니다.<br> 
          나는 그의 유일하신 아들, 우리 주 예수 그리스도를 믿습니다.<br> 
          그는 성령으로 잉태되어 동정녀 마리아에게서 나시고,<br> 
          본디오 빌라도에게 고난을 받아 십자가에 못 박혀 죽으시고,<br> 
          장사된 지 사흘 만에 죽은 자 가운데서 다시 살아나셨으며,<br> 
          하늘에 오르시어 전능하신 아버지 하나님 우편에 앉아 계시다가,<br> 
          거기로부터 살아있는 자와 죽은 자를 심판하러 오십니다.<br> 
          나는 성령을 믿으며,<br> 
          거룩한 공교회와 성도의 교제와 죄를 용서 받는 것과 몸의 부활과 영생을 믿습니다.<br> 
          아멘.
      </p>
      <div><button>개역한글</button></div>
    </div>
    <div *ngIf="creedMode == 1">
      <p>
          전능하사 천지를 만드신<br>
          하나님 아버지를 내가 믿사오며,<br>
          그 외아들 우리 주 예수 그리스도를 믿사오니,<br>
          이는 성령으로 잉태하사 동정녀 마리아에게 나시고,<br>
          본디오 빌라도에게 고난을 받으사,<br>
          십자가에 못 박혀 죽으시고,<br> 
          장사한지 사흘 만에 죽은 자 가운데서<br>
          다시 살아나시며, 하늘에 오르사,<br>
          전능하신 하나님 우편에 앉아 계시다가,<br> 
          저리로서 산자와 죽은자를 심판하러 오시리라.<br>
          
          성령을 믿사오며, 거룩한 공회와, 성도가 서로 교통하는 것과,<br>
          죄를 사하여 주시는 것과, 몸이 다시 사는 것과,<br>
          영원히 사는 것을 믿사옵나이다.<br>
          아멘.<br>
      </p>
      <div><button>개역개정</button></div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <div text-center class="ad-demo-1">광고영역</div>
</ion-footer>
