<ion-header>

  <ion-navbar>
    <ion-title>my</ion-title>
  </ion-navbar>

  <div class="my-tab-menu">
    <div class="menu-item" [ngClass]="{highlight:menu.selected}" *ngFor="let menu of getMenu(); let i = index" (click)="toggleTabMenu(i)">
      {{menu.title}}
    </div>
  </div>

</ion-header>


<ion-content>
  <div *ngIf="currViewMode == 0">
    <div class="bookmark-list-header">
      <div>성경</div>
      <div (click)="isBibleShow = !isBibleShow">
        <ion-icon [name]="isBibleShow ? 'arrow-down' : 'arrow-forward'"></ion-icon>
      </div>
    </div>
    <ion-list *ngIf="isBibleShow">
      <ion-item *ngFor="let item of bibleBookMarkData">
        <div class="bookmark-item">
          <div (click)="goBibleContent(item.book, item.jang)">{{item.bibletype}} >{{item.name}} > {{item.jang}}장 <span class="bookmark-item-jul">({{item.jul}})절</span></div>
          <div (click)="removeBibleBookMark(item)">
            <ion-icon name="trash"></ion-icon>
          </div>
        </div>
      </ion-item>
    </ion-list>

    <div class="bookmark-list-header">
      <div>찬송</div>
      <div (click)="isHymnShow = !isHymnShow">
        <ion-icon [name]="isHymnShow ? 'arrow-down' : 'arrow-forward'"></ion-icon>
      </div>
    </div>
    <ion-list *ngIf="isHymnShow">
      <ion-item *ngFor="let item of hymnBookMarkData">
        <div class="bookmark-item">
          <div>
            <div (click)="goHymnContent(item.p_num)">{{item.p_num}}. {{item.subject}}</div>
            <div class="hymn-sub-title">통일찬송가 {{item.p_num_old}}장</div>
          </div>
          <div (click)="removeHymnBookMark(item)">
            <ion-icon name="trash"></ion-icon>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </div>

  <ion-list *ngIf="currViewMode == 1">
    <ion-item>
      <ion-label>성경읽기여부</ion-label>
      <ion-toggle [(ngModel)]="isReadingSchedul"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>시작한 날짜:</ion-label>
      <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="startReadingDate"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>목표한 날짜:</ion-label>
      <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="endReadingDate"></ion-datetime>
    </ion-item>
    <!-- <ion-item>
      <ion-label>목표량:</ion-label>
      <ion-select (ionChange)="setReadingAmount($event)" [(ngModel)]="targetAmount" interface="popover">
        <ion-option value="1">1독</ion-option>
        <ion-option value="2">2독</ion-option>
        <ion-option value="3">3독</ion-option>
        <ion-option value="4">4독</ion-option>
      </ion-select>
    </ion-item> -->
    <ion-item>
      <div>경과일수:</div>
      <div item-end class="bible-range">
        <div class="bible-range-outer">
          <div class="bible-range-inner" [style.width]="untilCurrDayPercentByCeil"></div>
        </div>
        <div class="bible-range-display">
          <div>{{currDayCount}}/{{totalDurationDayCount}}</div>
          <div>{{untilCurrDayPercent}}%</div>
        </div>
      </div>
    </ion-item>
    <ion-item>
      <div>읽은장수:</div>
      <div item-end class="bible-range">
        <div class="bible-range-outer">
          <div class="bible-range-inner" [style.width]="untilCurrLearnJangPercentByCeil"></div>
        </div>
        <div class="bible-range-display">
          <div>{{currDayLearnJangCount}}/{{totalLearnJangCount}}</div>
          <div>{{untilCurrLearnJangPercent}}%</div>
        </div>
      </div>
    </ion-item>
    <ion-item *ngIf="isReadingSchedul && currDayLearnJangCount > 0">
      <div>현재까지는 매일 평균 {{untilCurrAvgJangCnt}}장씩 읽으셨습니다.</div>
      <div>앞으로 매일 {{remainExpectationAvgJangCnt}}장씩 읽으시면 됩니다.</div>
    </ion-item>
    <ion-item>
      <div class="bible-range-button-box">
        <button ion-button (click)="resetLearnBible()">설정초기화</button>
        <button ion-button (click)="saveLearnConfig()">설정저장</button>
        <button ion-button [navPush]="'LearnBiblePage'">진도현황</button>
      </div>
    </ion-item>
  </ion-list>
  
  <ion-list *ngIf="currViewMode == 2">
    <ion-item>
      개인정보수정
    </ion-item>
  </ion-list>

</ion-content>
