<ion-header>

  <ion-toolbar>
    <div class="tool-bar-title">
      <img class="tool-bar-prev-btn" cNavpop src="assets/imgs/btn_prev.png">
      <span class="menu-item-inner-title">{{title}}</span>
      <span class="sub-title">{{learn_title}}</span>
    </div>
  </ion-toolbar>

  <div class="my-tab-menu">
    <div class="menu-item" (click)="viewMode = 0">
      <div class="menu-item-inner" [ngClass]="{borderHilight:viewMode == 0}" style="border-right: 1px solid #e0e0e0">
          <div class="menu-item-inner-title" [ngClass]="{selectedText:viewMode == 0}">읽기표</div>
      </div>
    </div>
    <div class="menu-item" (click)="viewMode = 1">
      <div class="menu-item-inner" [ngClass]="{borderHilight:viewMode == 1}">
          <div class="menu-item-inner-title" [ngClass]="{selectedText:viewMode == 1}">듣기표</div>
      </div>
    </div>
    
  </div>

</ion-header>


<ion-content>
  <ion-grid class="learn-bible-box">
    <ion-row align-items-center *ngFor="let item of getBibleBookTitle()">
      <ion-col col-3><div class="learn-bible-item-title">{{item.name}}</div></ion-col>
      <ion-col col-9>
        <div (click)="goContent(data.book, data.jang)" [hidden]="viewMode == 1" [style.background-color]="data.isRead ? '#33afe9' : '#aaa'" class="learn-bible-item" *ngFor="let data of getBibleJangByBook(item.book)">
          <div class="learn-bible-item-number">{{data.jang}}</div>
        </div>
        <div (click)="goContent(data.book, data.jang)" [hidden]="viewMode == 0" [style.background-color]="data.isListen ? '#33afe9' : '#aaa'" class="learn-bible-item" *ngFor="let data of getBibleJangByBook(item.book)">
          <div class="learn-bible-item-number">{{data.jang}}</div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
