page-learn-bible {
    .learn-bible-box {
        .learn-bible-item-title {
            font-size: 1.3em;
            font-weight: bold;
            padding-left: 0.2em;
        }
        .learn-bible-item {
            display: inline-block;
            padding: 0.3em;
            width: 30px;
            height: 30px;
            border-radius: 15px;
            font-size: 0.9em;
            color: white;
            font-weight: bold;
            margin: 5px;
            text-align: center;
            .learn-bible-item-number {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        ion-row {
            border-bottom: 1px solid #c2c2c2;
        }
    }
    ion-header {
        ion-col {
            text-align: center;
        }
    }
    .highlight {
        background-color: dodgerblue;
    }
    .sub-title {
        padding-left: 0.5em;
        font-size: 0.6em;
    }
    .learn-tab-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1px;
        
        .menu-item {
            flex-basis: 4em;
            flex-grow: 1;
            line-height: 2em;
            border: 1px solid gray;
            text-align: center;
        }
    }
}
